{
  "env": {
    "node": true,
    "es2022": true
  },
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "double"],
    "semi": ["error", "never"],
    "vars-on-top": "off",
    "no-var": "error",
    "object-shorthand": "error",
    // Disable the errors associated with import statements.
    // ESLint is messing up here because of the troubles with
    // Babel and import aliases
    "node/no-unsupported-features/es-syntax": "off",
    "node/no-missing-import": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  }
}
